*{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: yellow;
}

canvas{
	margin: auto;
	border: 1px solid white;
}

h1{
	font-family: 'Press Start 2P';
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 0;
	color: white;
}

@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: normal;
  src: local('Press Start 2P'), url('https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2');
}